

{{!-- <div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    <div class="col-sm">
  </div>
</div> --}}
<hr>

<h2 class="recipes-heading">Recipes</h2>

<div class="container">

 
 
  {{!-- <div class="row">
    <div class="col-sm"> --}}
{{#each recipeList}}

  
<div class="recipe-card">

  <img class="rounded" "img-fluid" src="{{this.image}}">
  <br>
  <br>
  <figcaption class="caption">{{this.title}}</figcaption>
  <br>
  <a href="/allRecipes/{{_id}}">More</a>

  <br>
  <br>
  <br>
  <br>
  

</div>
 
   

  

{{/each}}
{{!-- </div>

</div> --}}
</div>

<br>
<br>

{{!-- <a href="/addRecipe">Create new recipe</a> --}}

















{{!-- <h2>Hello {{user.username}}, check out all your recipes:</h2>
{{#each recipeList}}
<h3>{{this.title}} </h3>
<img src="{{this.image}} ">
<a href="/allRecipes/{{_id}}">See the details</a>
<br>
<br>
<br>
{{/each}}
<br>
<br>
<a href="/addRecipe">Create new recipe</a> --}}