{{!-- <br>
<a href="/shopping-list">See your shopping list</a> --}}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> --}}
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


{{!-- <h2>All Recipes</h2>
{{#each recipeList}} 
{{this.title}}
{{this.image}}
<a href="/{{_id}}">See the details</a>
{{/each}}
<br>
<a href="/addRecipe">Create new recipe</a> --}}



