<h2>Recipe Details</h2>

<a href="/allRecipes">Go back to overview</a>



<form action="/shoppingList" method="POST">

{{#with recipe}}
<h3 >{{title}}</h3>
<p>Duration: {{duration}}</p>
  <ul>
  
    
    {{#each ingredients}}
    <li>
        <input type="text" name="ingredient" value="{{this.quantity}} {{this.name}}"> 
      {{!-- <input type="number" name="quan" value={{this.quantity}}>
      <input type="text" name="nameOfIng" value={{this.name}}> --}}

    </li>
    {{/each}}
  </ul>
<p>Here's how to do it: {{description}}</p>
<p><img src="" alt="image"></p>
{{/with}}


<button type="submit">Add to shopping list</button>

</form>

{{!-- <a href="/shopping-list">Add all ingredients to shopping list</a> --}}


<script>
//let id=document.querySelector('.something').id; 
//let shoppingCart=document.querySelector('.shoppingId'); 

//const recipe = JSON.parse('{{{id}}}');

//shoppingCart.onclick=function() {
  //console.log('clicked, {{id}}'); 
  //fetch(`/update-list/${id}`)
  //.then((res) => res.json())
  //.then((response) => {
  //  console.log('response')
  //})
//}; 
// --}}
</script>