<div class="container">
  <div class="row">
    <div class="col">

{{!-- <div class="full-page">

<div class="recipe-item-page"> --}}

  <div class="to-add-item">

    <form action="/shoppingList/updateWithAdditionalItem" method="POST">

      <button class="the-add-item-button" type="submit">+</button>
      <input class="add-item-form" type="text" name="name" placeholder="Add item" required>

    </form>

  </div>

  <div class="list">

    <form action="/shoppingList/update" method="POST">

      {{#each list}}

        <p class="the-list-ingredient">

            {{this.quantity}}

            {{this.measure}}

            {{this.name}}

            
            <a class="delete-this" href="/ingredients/remove/{{this.name}}">✓</a>

            <a class="delete-this" href="/ingredients/remove/{{this.name}}">X</a>
       
        </p>

      {{/each}}

    </form>

  </div>

{{!-- </div>

</div> --}}


  </div>
  </div>
</div>