<div class="full-page">

<div class="recipe-item-page">

  <div class="to-add-item">

    <form action="/shoppingList/updateWithAdditionalItem" method="POST">

      <button type="submit">+</button>
      <input class="add-item-form" type="text" name="name" placeholder="Add item" required>

    </form>

  </div>

  <div class="list">

    <form action="/shoppingList/update" method="POST">

      {{#each list}}

        <p class="the-list-ingredient">

            {{this.name}}

            {{this.measure}}

            {{this.quantity}}
            
            <a class="delete-this" href="/ingredients/remove/{{this.name}}"><img src="/public/images/trash-2.svg"></a>

            <a class="delete-this" href="/ingredients/remove/{{this.name}}">Y</a>
        
        </p>

      {{/each}}

    </form>

  </div>

</div>

</div>